html, body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.header {
	background-color: #333;
}

.nav {
	margin: 0;
	padding: 20px 0;
}

.nav li {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400px;
	color: #fff;
	list-style: none;
	padding-right: 30px;
}

.jumbotron {
	background: url('http://goo.gl/NLPJ7j');
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
}

.rowDivider {
	background: #000;
	height: 12px;
}

.main {
	position: relative;
	top: 190px;
	text-align: center;
}

.main h1 {
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 60px;
	margin-top: 0px;
}